body{
    display: flex;
    background-color: #003c3c;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.calculatorContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 650px;
    width: 500px;
    padding: 0px;

    background-color: black;
    border: solid grey;
    border-width: 7px;
    border-radius: 25px;
}

.displayScreenInner{
    height: 10%;
    width: auto;
    background-color: green;
}

.displayScreenOuter{
    height: 130px;
    width: 450px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: #42474a;
}

.displayText{
    text-align: right;
    margin: 0;
    margin-right: 10px;
    font-size: 80px;
    color: white;
    
}

.buttonContainer{
    display: flex;
    flex-wrap: wrap;;

    height: 520px;
    width: auto;
    background-color: aqua;
}